/* TABLE DES MATIERES
----------------------------------------------------------------------------------------------------------
+1 CSS COMMUN A TOUS LE SITE

+2 HEADER
-pour toutes les pages.
-css contredit pour diminution et replacement menu page 3eme niveau (par exemple projet par categorie).

+3 SECTION GRILLE VIGNETTE
- présentation et 6 vignette pour la majorité des pages qui reste statique (peu de mise à jour du contenu).
- animation des effets css.

+4 FOOTER
- pour toutes les pages.

+5 PAGE PROJET UNIQUE
-CSS des pages pour chaque projet.
-Attention pour script image bacground ici.

+6 PAGE CONTACT
positionement et formatage

+7 PAGE CONSTRUCTION
image


/*-------------------------------------------------------------------------------------------------------
+1 CSS COMMUN A TOUS LE SITE
-------------------------------------------------------------------------------------------------------*/
/*calcul des positions sans tenir compte des marges et padding*/
* {
  box-sizing: border-box;
}

/*div général pour centrage du site*/
.content {
  max-width: 80vw;
  margin: auto;
}

body {
  margin-top: 1em;
  background-color: black;
  font-family: "IbmPlexMonobold", "Arial Narrow Bold", Impact, Haettenschweiler,
    sans-serif;
  color: white;
  font-size: 1.8vw;
}

/*formatage des liens*/
a {
  text-decoration: none;
  outline: none;
  color: white;
}

h2 {
  margin-top: 0;
}
/*couleur jaune pour le site ( voir plus bas pour lien dynamique)*/
.yellow {
  color: rgb(255, 255, 0);
}
/* formatage liste*/
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/*-------------------------------------------------------------------------------------------------------
+2 Header
-------------------------------------------------------------------------------------------------------*/
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto auto;
  grid-gap: 1em;
}
/*placement et liens lang FR EN*/
/* grid-area: placement row start / col sart / row end / col end*/
.grid-lang {
  grid-area: 1 / 11 / 1 / 13;
  justify-self: end;
}

/* Menu deroulant choix des langues */

.lang-choice li ul {
  display: none;
  width: 90px;
}
.lang-choice a {
  display: block;
  font-family: "ibm_plex_monoregular", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1.3vw;
  padding: 6px;
}

.lang-choice li:hover ul {
  display: block;
  position: absolute;
}
/* reduction police et img projet page de niveau 2 et + */
.lang-choice-projet a {
  font-size: 1vw;
}
.lang-choice-projet img {
  width: 100%;
  max-width: 40px;
  min-width: 30px;
  height: auto;
}
.lang-img {
  width: 100%;
  max-width: 60px;
  min-width: 30px;
  height: auto;
}
/* logo placement et responsive */
.grid-logo {
  grid-area: 1 / 1 / 1 / 5;
  justify-self: start;
}

.logo-img {
  width: 100%;
  max-width: 418px;
  min-width: 112px;
  height: auto;
}
/* gestion de la couleur dynamique des liens--------------------*/
a:hover,
a:focus,
a:active {
  color: rgb(255, 255, 0);
}
.activeLink {
  color: rgb(255, 255, 0);
}

/*-placement Menu-------*/
.nav-bar {
  grid-area: 1 / 6 / 5 / 12;
}
.grid-menu-news {
  grid-area: 2 / 1 / 2 / 4;
}
.grid-menu-peda {
  grid-area: 2 / 8 / 2 / 10;
}
.grid-menu-fablab {
  grid-area: 3 / 12 / 3 / 14;
  justify-self: end;
}
.grid-menu-projet {
  grid-area: 3 / 1 / 3 / 3;
  justify-self: end;
}
.grid-menu-talent {
  grid-area: 3 / 4 / 3 / 8;
  justify-self: end;
}

/*diminution police page projet*/
.menu-text-projet {
  font-size: 1.1vw;
}
/* repositionement logo et menu page projet*/
.logo-img-projet {
  width: 75%;
}

.nav-bar-projet {
  grid-area: 1 / 5 / 5 / 11;
}

.grid-menu-talent-projet {
  grid-area: 3 / 3 / 3 / 7;
  justify-self: end;
}

/*-------------FIN HEADER----------*/
hr {
  height: 4px;
}

/*-------------------------------------------------------------------------------------------------------
+3 SECTION Grille vignette
-------------------------------------------------------------------------------------------------------*/
/* article "présentation" etendu */
.presentation {
  margin-bottom: 1%;
  font-family: "ibm_plex_monoregular", Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.presentation h2 {
  font-size: 1.5vw;
  text-align: center;
  font-family: "IbmPlexMonobold", "Arial Narrow Bold", Impact, Haettenschweiler,
    sans-serif;
  font-weight: normal;
}

/* diminution police page projet */
.prez-text h2 {
  font-size: 1.1vw;
}
.presentation p {
  font-size: 1.1vw;
  font-weight: normal;
  display: flex;
  justify-content: center;
}
/* diminution police page projet */
.prez-text p {
  font-size: 0.9vw;
  font-weight: normal;
}

/* text vignette */
.text {
  font-family: "ibm_plex_monoregular", Arial, Helvetica, sans-serif;
  font-size: 1vw;

  font-weight: normal;
  height: 100%;
  width: 100%;
  top: 3em;

  text-align: justify;

  color: white;
}
/*--------------  fin article présentation 1ere vig allongée------------*/

/*---------grille des autres vignettes-------------------*/

.vig-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}

/*hover style */

.vignette {
  position: relative;
  width: 80%;
  height: auto;
}

.vignette-image {
  opacity: 1;
  display: block;
  width: 125%;
  height: auto;

  transition: 0.5s ease;
  backface-visibility: hidden;
}
/* animation text vignette */
.vignette-text {
  transition: 0.5s linear;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: auto;
  top: 60%;
  left: 12%;
  text-align: justify;
}
/* animation et text titre vignatte*/
.vignette-titre {
  transition: 0.5s ease;
  position: absolute;
  width: 100%;
  height: auto;
  top: 40%;
  left: 12%;
  text-align: center;

  color: white;
  font-size: 1.9vw;
  font-weight: normal;
}
/* diminution police pour page projet*/
.vig-titre-projet {
  font-size: 1.3vw;
}
.vignette:hover .vignette-image {
  opacity: 0.3;
}
.vignette:hover .vignette-text {
  opacity: 1;
}
.vignette:hover .vignette-titre {
  top: 0.5em;
}
/* diminution police pour page projet*/
.vig-text-projet {
  font-size: 0.9vw;
  font-weight: normal;
}

/*-------------------------------------------------------------------------------------------------------
+4 Footer
-------------------------------------------------------------------------------------------------------*/
.rezo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: "ibm_plex_monoregular", Arial, Helvetica, sans-serif;
}

.text-footer {
  font-family: "ibm_plex_monoregular", Arial, Helvetica, sans-serif;
  font-size: 0.9vw;
  font-weight: normal;
  text-align: center;
}

#coeur img {
  height: 0.9rem;
}

/*-------------------------------------------------------------------------------------------------------
+5 CSS Page projet
-------------------------------------------------------------------------------------------------------*/
/*placement sur la grille et police*/

/* presentation image du fond titre résumé et talent*/
.projet_presentation {
  width: 100%;
  height: 25vw;
}

.projet_presentation-image {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: 50% 45%;
  opacity: 0.7;
}

.projet_presentation-descrip {
  position: relative;
  top: -40%;
}

.projet_presentation-titre {
  text-align: center;
  font-size: 1.5vw;
  font-weight: normal;
}

.projet_presentation-text,
.projet_presentation-talent {
  text-align: center;
  font-family: "ibm_plex_monoregular", Arial, Helvetica, sans-serif;
  font-size: 1.2vw;
  font-weight: normal;
}

/* barre de menu */
.projet_menu-bar {
  grid-area: 1/1/1/13;
  background-color: rgb(65, 70, 70);
}

.projet_grid-nav {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 12px;
}
.projet_menu-maj {
  margin: 4px;
  grid-area: 1/1/1/5;
  justify-self: center;
  align-self: center;
}

.projet_menu-menu {
  background-color: rgba(65, 70, 70, 0.4);

  grid-area: 1/ 6/ 1/ 13;
  justify-self: start;
  align-self: center;
}
/* menu sticky */
.projet_menu-menu {
  overflow: hidden;
  background-color: rgba(65, 70, 70, 0.8);
  position: sticky;
  top: -1px;
}
.projet_menu-menu a {
  padding-right: 1em;
}

.projet_menu-maj,
.projet_menu-menu {
  font-family: "ibm_plex_monoregular", Arial, Helvetica, sans-serif;
  font-size: 1.1vw;
  font-weight: normal;
}

/* positionnement des parties */

/* partie galerie photo slider */
.projet_images {
  grid-area: 2/2/3/5;
  justify-self: center;
}

.projet_images img {
  width: 100%;
  max-width: 300px;
  min-width: 38px;
  height: auto;
}

/* partie synopsys */
.projet_synopsys {
  grid-area: 2/6/2/13;
}

/*partie sources*/
.projet_sources {
  grid-area: 3/6/3/13;
}

/*partie documentation*/
.projet_documentation {
  grid-area: 4/6/4/13;
}
/*partie tuto*/
.projet_tutoriel {
  grid-area: 5/6/5/13;
}

/*partie composants*/
.projet_composants {
  grid-area: 6/6/6/13;
}

/* image miniature*/
.image-mini {
  grid-area: 3/2/7/5;
  justify-self: center;
}

/* image miniature responsive */
/* redimensionnement auto seule les grandes images sont nécessaire */
.image-mini img {
  width: 100%;
  max-width: 28%;
  min-width: 38px;
  height: auto;
}
/* Mise en forme des parties */

/*taille de police du titre des parties*/
.projet_synopsys h2,
.projet_sources h2,
.projet_documentation h2,
.projet_tutoriel h2,
.projet_composants h2 {
  font-size: 1.5vw;
  font-weight: normal;
}

/* lien les uns sous les autres et taille de police */
.projet_synopsys a,
.projet_sources a,
.projet_documentation a,
.projet_tutoriel a,
.projet_composants a {
  display: block;
  padding: 6px;

  font-family: "ibm_plex_monoregular", Arial, Helvetica, sans-serif;
  font-size: 1.1vw;
  font-weight: normal;
}

/* taille des police du contenu des parties. possibilité de rajouté du contenu au lieu des liens dans balise p*/
.projet_synopsys p,
.projet_sources p,
.projet_documentation p,
.projet_tutoriel p,
.projet_composants p {
  font-family: "ibm_plex_monoregular", Arial, Helvetica, sans-serif;
  font-size: 1.1vw;
  font-weight: normal;
}

/* ANIMATION EN CSS---------SLIDER ------------*/
/* source https://la-cascade.io/un-carrousel-responsif-en-pur-css/ */

/*
#slider {
  width: 100%;
  max-width: 300px;

  overflow: hidden;
}
#slider figure {
  position: relative;
  width: 700%;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: left;

  animation: 15s slidy infinite;
}
#slider figure img {
  width: 14.28%; 
*/ /* diviser 100% par le nombre de photo*/

/*  height: auto;
  float: left;
}

@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
/*-------------------------------------------------------------------------------------------------
---------------------------------+6 PAGE CONTACT -----------------------------------------------
-------------------------------------------------------------------------------------------------*/

.map-road {
  grid-area: 1/1/1/9;
  justify-self: center;

  width: 100%;

  height: auto;
}
.map-mass {
  grid-area: 2/1/2/9;
  justify-self: center;
  width: 100%;

  height: auto;
}

.text-contact {
  grid-area: 1/9/3/13;
  justify-self: center;
}

.text-contact h3 {
  font-size: 1.5vw;
  font-weight: normal;
}

.text-contact h4 {
  text-decoration: underline;
  font-family: "ibm_plex_monoregular", Arial, Helvetica, sans-serif;
  font-size: 1.3vw;
  font-weight: normal;
}

.text-contact p {
  font-family: "ibm_plex_monoregular", Arial, Helvetica, sans-serif;
  font-size: 1.2vw;
  font-weight: normal;
  margin: 0;
}
/*-------------------------------------------------------------------------------------------------
---------------------------------+7 PAGE CONSTRUCTION -----------------------------------------------
-------------------------------------------------------------------------------------------------*/
.img-construction {
  width: 100%;
  height: auto;
}
